.app-menu__list {
    display: flex;
}

.app-menu__item {
    list-style: none;
}

.app-menu__link {
    text-decoration: none;
    font-weight: bold;
    margin-right: 12px;
    color: black;
}

.app-menu__button{
    background: rgb(3 20 117) !important;
    color: white !important;
}

.app-menu__button:hover {
    font-weight: bold !important;
}

.app-menu-group {
    margin-left: 100px;
}